body
{
	background-color: #97DEFB;
}

h1
{
	text-align: center;
}

h2
{
	font-size: 22px;
	margin: 0;
}

h3
{
	margin-block-start: 5px;
	margin-block-end: 15px;
	padding-left: 10px;
}

#intro h2
{
	font-size: 22px;
	margin: 0;
	padding-top: 5px;
}

#infect-container
{
	width: 1004px;
	margin-left: auto;
	margin-right: auto;
}

#game-controls h3
{
	font-size: 20px;
	margin: 0;
}

fieldset
{
	border: none;
	padding: 0;
}

#container
{
	position: relative;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#animation-block
{
	display: block;
	vertical-align: top;
}

.info
{
	font-weight: bold;
	font-size: large;
	padding-bottom: 4px;
}

.tooltip
{
	display: none;
	position: absolute;
	width: 600px;
	padding: 10px;
	border: solid blue 1px;
	background-color: antiquewhite;
	font-size: large;
}

.start-button
{
	font: bold 16px Arial;
	text-decoration: none;
	background-color: #EEEEEE;
	color: #333333;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
  }

.light-text
{
	color: white;
}

.info-img
{
	display: inline-block;
	width: 20px;
	object-fit: scale-down;
}

#static-block
{
	display: inline-block;
	vertical-align: top;
	width: 1000px;
}

#animation-right
{
	margin-left: 20px;
}

#images
{
	display: none;
}

#info-panel
{
	display: flex;
	flex-flow: row;

	font-size: large;
	font-weight: bold;
}

#day-block
{
	display: inline-block;
	width: 380px;
}

#time-block
{
	display: inline-block;
	width: 170px;
}

#score-block
{
	display: none;
	margin-left: 20px;
	width: 400px;
}

#records
{
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	background-color: #77BED8;
}

#records tr
{
	text-align: right;
}

.row-label
{
	text-align: left;
}

#records tr:nth-child(even) 
{
	background-color: #97DEFB;
}

#controls
{
	display: inline-block;
	background-color: #97DEFB;
	padding-top: 10px;
}

.controls-contents
{
    display: grid;
    grid-template-columns: 100px 24px 110px auto;
}

#speed-group
{
	padding-top: 4px;
}

#game-controls
{
	padding-top: 5px;
	padding-inline-start: 0;
}

#toggle-description
{
	padding-top: 4px;
	padding-bottom: 4px;
}

.toggle-contents
{
	display: flex;
	flex-direction: column;
}

.toggle-room
{
	display: flex;
	flex-direction: row;
}

.toggle-title
{
	display: inline-block;
	padding-left: 2px;
	width: 160px;
}

#other-group
{
	margin: 5px;
}

#other-names
{
	display: inline-block;
	width: 440px;
}

.other-title
{
	display: inline-block;
	vertical-align: top;
	width: 120px;
	margin-right: 10px;
	padding: 2px;
}

#display
{
	background-color: #97DEFB;
	border: solid blue 1px;
	width: 1000px;
}
/*
#charts
{
	display: inline-block;
	background-color: #97DEFB;
} */

#overview_container
{
	width : 800px; height : 320px;
	display: inline-block;
}

#moving_container
{
	width : 500px; height: 320px;
	display : inline-block;
}

.rangeSlider
{
	width: 80%;
}

.slider
{
  width: 100%;
}

.chartx 
{
  background-color: #97DEFB;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 320px 1fr;
  gap: 10px; */
	
  /* display: flex; */
}

.cold-colour
{
	background-color: #2C7BB6;
}

.hot-colour
{
	background-color: #D7191C;
}

.boolean-button
{
	display: inline-flex;
	flex-direction: row;
	background-color: lightsteelblue;
}

.boolean
{
	border: none;
	padding: 0;
	background-color: inherit;
}

.boolean-toggle
{
	align-content: center;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	background-color: inherit;
	width: 50px;
}

.open-state
{
	background-color: #4DAC26;
}

.closed-state
{
	background-color: #D01C8B;
}

.control-value
{
	padding-top: 2px;
	padding-left: 6px;
	width: 100px;
	margin-right: 10px;
	background-color: #2C7BB6;
}

#masks
{
}

#isolate
{
	
}

#depends-on-tests
{
	border: none;
	padding: 0;
	margin-left: 0;
	padding-inline: 0;
}

.swatch
{
	display: inline-block;
	height: 16px;
	width: 20px;
	margin-top: 4px;
	margin-left: 6px;
}

.spaced
{
	display: inline-block;
	margin-left: 6px;
}

.indented
{
	margin-left: 40px;
}

.para
{
	margin-top: 4px;
	margin-left: 4px;
	margin-bottom: 6px;
}

#announce-outer
{
	display: none;
	background-color: rgba(0, 0, 0, 0);

	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;

	justify-content: center;
	align-content: center;
}

.announce
{
	border: 4px solid black;

	align-content: center;
	justify-content: center;
}

#announce-win
{
	display: none;

	background-color: #3030FF;

}

#announce-lose
{
	display: none;

	background-color: gray;
}

.announce-text
{
	font-size: xxx-large;
	text-align: center;
}

.button-group
{
	margin-top: 40px;
	display: grid;
	grid-template-columns: max-content max-content;
	justify-content: center;
}

.announce-button
{
	font-size: large;
}

.face-list
{
	display: grid;
	grid-template-columns: max-content auto;
}

.face-name
{
	margin-left: 20px;
	margin-right: 10px;
}

.face
{
	display: inline-block;
}

#debug
{
	display: none;
	position: absolute;
	width: 600px;
	padding: 10px;
	border: solid blue 1px;
	background-color: antiquewhite;
	font-size: large;
}
