

body
{
	background-color: #67AECB;
}

h1
{
	text-align: center;
}

h4
{
	margin: 0;
}

#container
{
	margin-left: 1em;
	width: 1000px;
}

#images
{
	display: none;
}

#top-panel
{
    display: grid;
    grid-template-columns: min-content auto;
}

#records
{
	background-color: #87CEEB;
}

#controls
{
	background-color: #87CEEB;
}

.controls-contents
{
    display: grid;
    grid-template-columns: 5em 5em auto;
}

#stepsize-controls
{
	border: 0;
	padding: 0;
}

#game-controls
{
}

.toggle-contents
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.toggle-room
{
	display: grid;
	grid-template-columns: 5em 4em;
}

.picker
{
	display: inline-block;
	padding-top: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

#displayChoice
{
	background-color: #87CEEB;
}

#chartsChoice
{
	background-color: #77BEDB;
}

#display
{
	background-color: #87CEEB;
}

#charts
{
	display: none;
	background-color: #87CEEB;
}
