

body
{
	background-color: #67AECB;
}

h1
{
	text-align: center;
}

h4
{
	margin: 0;
}

#container
{
	margin-left: 1em;
	width: 1000px;
}

#images
{
	display: none;
}

#top-panel
{
    display: grid;
    grid-template-columns: min-content auto;
}

#day-block
{
	display: inline-block;
	width: 20em;
}

#time-block
{
	display: inline-block;
	width: 10em;
}

#score-block
{
	display: inline-block;
	width: 10em;
}

#records
{
	margin-right: 0.5em;
	padding-right: 0.5em;
	background-color: #87CEEB;
}

#controls
{
	background-color: #87CEEB;
	padding-top: 0.1em;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

.controls-contents
{
    display: grid;
    grid-template-columns: 5em 5em auto;
}

#stepsize-controls
{
	border: 0;
	padding: 0;
}

#game-controls
{
}

.toggle-contents
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.toggle-room
{
	display: grid;
	grid-template-columns: 7.5em 4em;
}

.picker
{
	display: inline-block;
	padding-top: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

#displayChoice
{
	background-color: #87CEEB;
}

#chartsChoice
{
	background-color: #77BEDB;
}

#display
{
	background-color: #87CEEB;
}

#charts
{
	display: none;
	background-color: #87CEEB;
}

.cold-colour
{
	background-color: #2C7BB6;
}

.hot-colour
{
	background-color: #D7191C;
}

.open-state
{
	background-color: #4DAC26;
}

.closed-state
{
	background-color: #D01C8B;
}

#masks
{
	margin-right: 10px;
	background-color: #2C7BB6;
}

.swatch
{
	display: inline-block;
	height: 0.8em;
	width: 1em;
	margin-top: 0.2em;
	margin-left: 0.3em;
}

.spaced
{
	display: inline-block;
	margin-left: 0.3em;
}

.indented
{
	margin-left: 2em;
}

.para
{
	margin-top: 1em;
	margin-left: 0.2em;
}
